@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts//Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
    font-weight: 900;
}