.app-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100vh;
	overflow: hidden;
	background-color: var(--color-background); /* Color de fondo principal */
}

.app-content {
	flex: 1; /* Ocupa todo el espacio disponible */
	overflow: auto;
}
