.bottom-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	height: 80px;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	color: #888;
	font-size: 12px;
}

	.nav-item.active {
		color: #00A99D; /* Color de acento para el ítem activo */
	}

	/* --- Iconos --- */
	/* Necesitarás los SVGs de los iconos. Puedes guardarlos en wwwroot/img/icons */
	.nav-item span[class^="icon-"] {
		width: 28px;
		height: 28px;
		background-color: currentColor; /* El icono toma el color del texto */
		-webkit-mask-size: cover;
		mask-size: cover;
	}

.icon-home {
	-webkit-mask-image: url(../img/icons/home.svg);
	mask-image: url(../img/icons/home.svg);
}

.icon-history {
	-webkit-mask-image: url(../img/icons/history.svg);
	mask-image: url(../img/icons/history.svg);
}

.icon-profiles {
	-webkit-mask-image: url(../img/icons/profiles.svg);
	mask-image: url(../img/icons/profiles.svg);
}

.nav-item__icon {
	color: var(--color-primario);
	height: 40px;
	width: auto;
}

.nav-item__text {
	color: var(--color-primario);
	font-weight: 500;
}