.edit-profile-container {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.edit-profile-header {
	position: relative;
	margin-top: 30px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 16px;
	color: white;
	flex-shrink: 0; /* Evita que el header se encoja */
}

.back-button {
	position: absolute;
	left: 10px;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	padding: 8px;
	transform: scaleZ(-1); /* Gira la flecha para que apunte a la izquierda */
}

.edit-profile-header h3 {
	font-size: 2rem;
	margin: 0;
}

.form-card {
	background-color: #fff;
	border-radius: 16px;
	margin: 30px 16px 16px 16px; /* Efecto de superposición y márgenes */
	padding: 24px;
	padding-bottom: 70px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
	z-index: 1; /* Asegura que la tarjeta esté sobre el fondo */
	display: flex;
	flex-direction: column;
	gap: 24px;
}

	.form-card h2 {
		font-size: 18px;
		font-weight: bold;
		color: #333;
		text-align: center;
		margin: 0 0 16px 0;
	}

.edit-form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

	.input-group label {
		font-size: 14px;
		color: #00A99D;
		font-weight: 500;
	}

.form-control-static {
	width: 100%;
	padding: 16px;
	border: none; /* Sin borde */
	border-radius: 12px;
	background-color: #f0f0f0; /* Fondo gris claro */
	font-size: 16px;
	box-sizing: border-box;
	color: #333;
}

.btn-primary-large, .btn-secondary-large {
	padding: 20px;
	border-radius: 16px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.btn-primary-large {
	background-color: #f0f0f0; /* Botón de guardar cambios inactivo */
	color: #888;
	border: none;
}

/* Podríamos añadir una clase .dirty para cuando el formulario cambie */
.edit-form.dirty .btn-primary-large {
	background-color: #00A99D;
	color: white;
}

.btn-secondary-large {
	background-color: var(--color-primario);
	color: white;
	border: none;
	width: 80%;
	max-width: 500px;
	margin-top: 24px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.edit-profile-container .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	border-radius: 0px;
}

.avatar-selector {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

	.avatar-selector h2 {
		font-size: 18px;
		font-weight: bold;
		color: #333;
		margin-bottom: 16px;
	}

.avatar-options {
	display: flex;
	justify-content: space-around; /* O 'space-between' si prefieres */
	flex-wrap: wrap;
	align-items: center;
}

.avatar-option {
	cursor: pointer;
	padding: 8px;
	border-radius: 50%; /* Círculo */
	border: 2px solid transparent;
	transition: border-color 0.2s ease;
}

	.avatar-option img {
		width: 60px; /* Ajusta el tamaño según tus imágenes */
		height: 60px;
		display: block;
	}

	.avatar-option.selected {
		border-color: #00A99D; /* Borde verde para el avatar seleccionado */
	}


.avatar-selector__subtitle {
	align-self: start;
	justify-self: left;
}

@media (max-width: 404px) {

	.avatar-option {
		flex-basis: 50%;
		display: grid;
		place-items: center;
	}
}