.register-container {
	/* Hacemos que este contenedor crezca para llenar el espacio del MainLayout */
	flex: 1;
	/* El resto de los estilos que ya teníamos para centrar el contenido */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 40px 24px;
	background-color: #f0f0f0;
	box-sizing: border-box;
}

.header {
	text-align: center;
	margin-bottom: 32px;
}

	.header h1 {
		margin-bottom: 8px;
		margin-top: 30px;
	}

	.header p {
		font-size: 16px;
		color: #666;
	}


.form-control {
	width: 100%;
	padding: 16px;
	border: 1px solid #00A99D;
	border-radius: 16px;
	background-color: #fff;
	font-size: 16px;
	box-sizing: border-box;
}

	.form-control:focus {
		outline: none;
		border-color: #007A72;
		box-shadow: 0 0 0 2px rgba(0, 169, 157, 0.2);
	}

.validation-message {
	color: #D9534F;
	font-size: 12px;
	padding-left: 8px;
}

.btn-primary {
	padding: 16px;
	border: none;
	border-radius: 24px;
	background-color: #00A99D;
	color: white;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

	.btn-primary:hover {
		background-color: #007A72;
	}


.register__btn-login {
	margin-top: 80px;
	margin-bottom: 30px;
	width: 80%;
	margin-left: 50%;
	transform: translateX(-50%);
}

.register__btn-new-user {
	margin-top: 20px;
}